<div class="container" *ngIf="!error">
  <div *ngIf="timer < 4 && timer > 0" class="modal">
    <h3>{{ timer }}</h3>
  </div>
  <div class="flex">
    <input
      #input
      type="text"
      placeholder="Type Here ..."
      class="rounded-sm border-1 border-gray-300 block"
      [(ngModel)]="inputValue"
      [disabled]="gameStatus != 'playing'"
      [autofocus]="true"
      (keyup)="keyPressed($event)"
      (keydown)="keyPressed($event)"
    />
    <div class="ml-3 p-3 text-center bg-gray-200 rounded-sm">
      <span class="text-xl font-semibold"> {{ score }} </span>WPM
    </div>
  </div>
  <div
    *ngIf="typingArray.length > 0"
    class="bg-gray-200 rounded-sm py-3 px-3 my-5"
  >
    <span
      *ngFor="let item of typingArray; let i = index"
      [id]="i"
      class="text-xl"
      [ngClass]="item.completed ? 'text-green-500' : 'text-yellow-600'"
      ><span
        *ngFor="let letter of item.letters; let i = index"
        [ngClass]="
          !item.error && letter.id <= currentLetterId
            ? 'text-green-600'
            : item.error && letter.id <= currentLetterId
            ? 'text-red-600'
            : ''
        "
        >{{ letter.letter }}</span
      ></span
    >
  </div>

  <div class="text-center">
    <button
      class="p-2 text-center bg-pink-600 text-white mt-3 rounded-sm"
      *ngIf="gameStatus == 'completed'"
      (click)="restart()"
    >
      Play Again
    </button>
  </div>
</div>
<h4 *ngIf="error" class="text-center text-2xl bg-red-300 rounded-sm p-3 mt-3">
  Error Fetching Typing Text.
</h4>
