<div class="flex flex-col font-sans racepage text-gray-300">
  <div class="container mx-auto px-8">
    <app-header></app-header>
    <div class="race-section pt-10 mt-10">
      <div *ngIf="timer < 4 && timer > 0" class="modal">
        <h3>{{ timer }}</h3>
      </div>
      <div class="flex">
        <input #input type="text" placeholder="Type Here ..." class="
            rounded-sm
            border-1
            text-gray-700
            border-gray-200
            block
            text-lg
          " [(ngModel)]="inputValue" [ngClass]="typingError?'bg-red-300':'bg-blue-50'"
          [disabled]="gameStatus != 'playing'" [autofocus]="true" (keyup)="keyPressed($event)"
          (keydown)="keyPressed($event)" />
        <div class="ml-3 p-3 text-center secondary-bg rounded-sm">
          <span class="text-xl font-semibold"> {{ score }} </span>WPM
        </div>
      </div>
      <div *ngIf="typingArray.length > 0" class="bg-gray-200 text-gray-700 rounded-sm py-3 px-3 my-5">
        <span *ngFor="let item of typingArray; let i = index" [id]="i" class="text-2xl"
          [ngClass]="item?.id == currentObject?.id ? 'underline' : ''"
          [ngClass]="item.completed ? 'text-blue-600' : ''"><span *ngFor="let letter of item.letters; let i = index"
            [class]="
              letter?.id == currentLetterId + 1
                ? 'letter letter-cursor'
                : 'letter'
            " [ngClass]="
              !item.error && letter.id <= currentLetterId
                ? 'text-blue-500'
                : item.error && letter.id <= currentLetterId
                ? 'text-red-500 '
                : ''
            ">{{ letter.letter }}</span></span>
      </div>
      <div class="text-center pt-4">
        <a *ngIf="gameStatus == 'completed'" (click)="restart()" class="
            cursor-pointer
            bg-gray-200
            hover:bg-blue-700 hover:text-gray-200
            py-3
            px-6
            uppercase
            text-lg
            font-bold
            text-blue-700
            rounded-full
          ">Next Race</a>
      </div>
    </div>
  </div>
  <h4 *ngIf="error" class="text-center text-2xl bg-red-300 rounded-sm p-3 mt-3">
    Error Fetching Typing Text.
  </h4>
</div>